# اجازه دسترسی به فایل‌های CSS
Order allow,deny
Allow from all

# تنظیمات کش برای فایل‌های CSS
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/css "access plus 1 year"
</IfModule>

<IfModule mod_headers.c>
    Header set Cache-Control "public, immutable"
</IfModule>